.admin__menu .item-mobicommerce-root.parent.level-0 > a:before {
	content: '';
	background-image:url('@{baseDir}Mobicommerce_Base/images/logo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 26px;
	background-position: center;
	height: 25px;
}

.config-nav-block.mobicommerce_system_config_tab [role='tab'] {
	background-color: #FCDA2D;

	strong {
		position: relative;
	    display: inline-block;
	    padding-left: 45px;
	    font-size: 0;
	}

	strong:before {
		content: '';
	    background-image: url(../Mobicommerce_Base/images/full_logo.png);
	    background-repeat: no-repeat;
	    background-size: 212px;
	    background-position: left center;
	    height: 50px;
	    width: 228px;
	    display: inline-block;
	    position: absolute;
	    left: -15px;
	    top: -32px;
	}

	:after {
		color: #FFF;
	}
}

.mobicommerce_system_config_tab .admin__page-nav-title._collapsible:hover,
.mobicommerce_system_config_tab.admin__page-nav._collapsed._show ._collapsible {
	background-color: #FCDA2D;
}